<html>
<head>
    <title>Contact Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Contact Me</h1>

    <div class="nav">
        <a href="/">Home Page</a>
        <a href="/projects">Projects</a>
        <a href="/contact_form">Contact Form</a>
    </div>

    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name"><br><br>

        <label>Email:</label><br>
        <input type="email" name="email"><br><br>

        <label>Message:</label><br>
        <textarea name="message"></textarea><br><br>

        <input type="submit" value="Send">
    </form>

    <p>{{ result }}</p>

</body>
</html>