<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>My Portfolio Website</h1>

    <div class="nav">
        <a href="/">Home Page</a>
        <a href="/projects">Projects</a>
        <a href="/contact_form">Contact Form</a>
    </div>

    <h2>Projects</h2>
    <p>Hello, you can view my projects on the projects page.</p>

    <h2>Contact Form</h2>
    <p>You can contact me on the contact form page.</p>

</body>
</html>